.about {
    margin-bottom: 288px;
    padding: 0 120px;
}
.about__title {
    margin-bottom: 25px;
    padding: 0 155px;
    font-size: 46px;
    line-height: 52px;
    color: #aaa;
}
.about__subtitle {
    margin-bottom: 135px;
    padding: 0 155px;
    font-size: 46px;
    line-height: 52px;
}
.about-inner {}
.about__item {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
}
.about__item:nth-child(2) {
    padding-left: 110px;
}
.about__item:last-child img {

}
.about__item--img {
    margin-right: 90px;
}
.about__item--img:nth-child(2) {
    margin-right: 0;
    margin-left: 121px;
}
.about__item:last-child .about__item--img {
    margin-right: 110px;
}
.about__item--text-wrapper {
    width: 28%;
}
.about__item--text-wrapper:last-child {
    width: 26%;
}
.about__item--title {
    margin-bottom: 27px;
    font-size: 32px;
    line-height: 36px;
    color: #1a1a1a;
}
.about__item--text {
    color: #aaa;
}



/* Media Queries */
@media (min-width: 1441px) {
    .about__title {
        padding: 0;
        margin: 0 auto 45px;
    }
    .about__title br {
        display: none;
    }
    .about__subtitle {
        padding: 0;
        text-align: right;
    }
    .about-inner {
        margin: 0 auto;
    }
}



@media (min-width: 1530px) {
    .about__item--img,
    .about__item:last-child .about__item--img {
        margin-right: 175px;
    }
    .about__item--img:nth-child(2) {
        margin-left: 175px;
    }
    .about__item--text-wrapper {
        width: 30%;
    }
    .about__item--title {
        margin-bottom: 30px;
        font-size: 34px;
        line-height: 38px;
    }
    .about__item--text {
        font-size: 17px;
    }
}



@media (min-width: 1680px) {
    .about__title {
        margin: 0 auto 55px;
        font-size: 48px;
        line-height: 54px;
    }
    .about__title br {
        display: none;
    }
    .about__subtitle {
        padding: 0;
        font-size: 48px;
        text-align: right;
    }
    .about-inner {
        margin: 0 auto;
    }
    .about__item {
        justify-content: space-evenly;
    }
    .about__item:nth-child(2) {
        padding-left: 0;
    }
    .about__item--img,
    .about__item:last-child .about__item--img,
    .about__item--img:nth-child(2) {
        margin-right: 0;
        margin-left: 0;
    }
    .about__item--title {
        font-size: 36px;
        line-height: 40px;
    }
    .about__item--text {
        font-size: 20px;
    }
}



@media (min-width: 1920px) {
    .about__title,
    .about__subtitle {
        font-size: 52px;
        line-height: 58px;
    }
    .about__item--img {
        width: 50%;
    }
    .about__item--title {
        margin-bottom: 40px;
        font-size: 40px;
    }
    .about__item--text {
        font-size: 24px;
        line-height: 32px;
    }
}




@media (max-width: 1439px) {
    .about {
        margin-bottom: 250px;
    }
    .about__title {
        padding: 0;
        margin: 0 auto 45px;
    }
    .about__title br {
        display: none;
    }
    .about__subtitle {
        padding: 0;
    }
    .about-inner {
        margin: 0 auto;
    }
    .about__item {
        justify-content: space-between;
    }
    .about__item:nth-child(2) {
        padding-left: 0;
    }
    .about__item--img,
    .about__item--img:nth-child(2),
    .about__item:last-child .about__item--img {
        margin-right: 0;
        margin-left: 0;
    }
}



@media (max-width: 1280px) {
    .about {
        margin-bottom: 225px;
        padding: 0 80px;
    }
    .about__title {
        font-size: 44px;
    }
    .about__subtitle {
        margin-bottom: 120px;
        font-size: 42px;
        line-height: 48px;
    }
    .about__item {
        justify-content: space-around;
    }
    .about__item--img {
        width: 54%;
    }
}



@media (max-width: 1200px) {
    .about {
        margin-bottom: 200px;
        padding: 0 70px;
    }
    .about__title {
        margin-bottom: 35px;
        font-size: 42px;
    }
    .about__subtitle {
        margin-bottom: 110px;
        font-size: 40px;
        line-height: 40px;
    }
    .about__item--img {
        width: 52%;
    }
}



@media (max-width: 1024px) {
    .about {
        margin-bottom: 150px;
        padding: 0 60px;
    }
    .about__title {
        margin-bottom: 30px;
        font-size: 38px;
    }
    .about__subtitle {
        margin-bottom: 90px;
        font-size: 32px;
        line-height: 32px;
    }
    .about__item {
        justify-content: space-between;
    }
    .about__item--img {
        width: 50%;
    }
    .about__item--title {
        margin-bottom: 25px;
        font-size: 30px;
    }
    .about__item--text-wrapper:first-child {
        width: 45%;
    }
    .about__item--text-wrapper:last-child {
        width: 44%;
    }
}



@media (max-width: 850px) {
    .about {
        margin-bottom: 130px;
    }
    .about__title {
        font-size: 32px;
        line-height: 40px;
    }
    .about__subtitle {
        margin-bottom: 70px;
        font-size: 26px;
    }
    .about__item {
        justify-content: space-between;
    }
    .about__item--title {
        margin-bottom: 20px;
        font-size: 28px;
        line-height: 32px;
    }
    .about__item--text-wrapper:first-child {
        width: 45%;
    }
    .about__item--text-wrapper:last-child {
        width: 44%;
    }
}



@media (max-width: 768px) {
    .about {
        margin-bottom: 100px;
        padding: 0 40px;
    }
    .about__title {
        font-size: 30px;
        line-height: 36px;
    }
    .about__subtitle {
        font-size: 24px;
    }
    .about__item--title {
        margin-bottom: 20px;
        font-size: 26px;
        line-height: 28px;
    }
    .about__item--text-wrapper:first-child {
        width: 40%;
    }
    .about__item--text-wrapper:last-child {
        width: 37%;
    }
}



@media (max-width: 640px) {
    .about {
        padding: 0 30px;
    }
    .about__title {
        margin-bottom: 25px;
        font-size: 26px;
        line-height: 32px;
    }
    .about__subtitle {
        margin-bottom: 60px;
        font-size: 22px;
        line-height: 26px;
    }
    .about__item--title {
        font-size: 24px;
        line-height: 24px;
    }
    .about__item--text-wrapper:first-child,
    .about__item--text-wrapper:last-child {
        width: 44%;
    }
}



@media (max-width: 568px) {
    .about {
        padding: 0 20px;
    }
    .about__item--title {
        font-size: 22px;
    }
    .about__item--text {
        line-height: 20px;
    }
}



@media (max-width: 568px) {
    .about__item {
        justify-content: unset;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .about__item--img {
        margin-bottom: 15px;
    }
    .about__item--img,
    .about__item--text-wrapper:first-child, .about__item--text-wrapper:last-child {
        width: 100%;
    }
    .about__item--text-wrapper:first-child, .about__item--text-wrapper:last-child {
        order: 1;
    }
    .about__item--text {
        margin-bottom: 10px;
        line-height: 20px;
    }
}



@media (max-width: 475px) {
    .about__item--text {
        margin-bottom: 0;
    }
}



@media (max-width: 414px) {
    .about {
        margin-bottom: 70px;
    }
    .about__title {
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 28px;
    }
    .about__subtitle {
        margin-bottom: 50px;
        font-size: 16px;
        line-height: 20px;
    }
    .about__item:last-child {
        margin-bottom: 0;
    }
}



@media (max-width: 320px) {
    .about {
        padding: 0;
        margin-bottom: 60px;
    }
    .about__title {
        padding: 0 10px;
        font-size: 17px;
        line-height: 22px;
    }
    .about__subtitle {
        padding: 0 10px;
        margin-bottom: 45px;
        font-size: 14px;
        line-height: 18px;
    }
    .about__item--text-wrapper {
        padding: 0 10px;
    }
    .about__item--title {
        margin-bottom: 10px;
        font-size: 20px;

    }
}



@media (max-width: 280px) {
    .about {
        margin-bottom: 50px;
    }
    .about__title {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .about__subtitle {
        margin-bottom: 35px;
        font-size: 12px;
        line-height: 12px;
    }
    .about__item--title {
        font-size: 18px;
    }
}
