.header {
    border-bottom: 1px solid #E0E0E0;
}
.header-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px 35px 4px 0;
    background-color: #F4F4F4;
}
.header-top__link {
    font-size: 12px;
    line-height: 34px;
    letter-spacing: 1px;
    color: #aaa;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s linear;
}
.header-top__link {
    margin-right: 28px;
}
.header-top__link:hover,
.select__header:hover {
    transform: scale(1.1);
}
.header-top__link:active,
.select__header:active {
    color: #aaa;
    transform: scale(0.9);
}

/* Language List */
.select {
    width: 35px;
    position: relative;
}
.select.active .select__body {
    display: flex;
    width: 138.5px;
    margin-top: 9.5px;
    margin-left: -69px;
}
.select.active .select__arrow {
    transform: rotate(-180deg);
}
.select__header {
    display: flex;
    cursor: pointer;

    transition: all .3s linear;
}
.select__current,
.select__item {
    font-size: 12px;
    line-height: 20px;
    color: #aaa;
    letter-spacing: 1px;
}
.select__arrow {
    margin-left: 2.5px;
    display: flex;
    flex-shrink: 0;
}
.select__body {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #aaa;
}
.select__item {
    padding: 0 3.5px;
    text-align: center;
    cursor: pointer;
    z-index: 5;
    transition: all .3s linear;
}
.select__item:hover {
    color: #fff;
    background-color: #9b9b9b;
}

.header-bottom {
    display: flex;
    align-items: center;
    padding: 36px 15px 36px 120px;
}
.header-logo {
    position: absolute;
    left: 120px;
}
.header-nav {
    display: flex;
    margin-right: 362px;
    margin-left: 313px;
}
.header-nav__link {
    margin-right: 110px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;

    position: relative;
    transition: all .3s linear;
}
.header-nav__link:nth-child(2) {
    margin-right: 120px;
}
.header-nav__link:last-child {
    margin-right: 0;
}
.header-nav__link::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: -5px;
    left: 0;

    transition: all .3s linear;
}
.header-nav__link:active {
    color: #aaa;
}
.header-nav__link:hover::after {
    width: 100%;
}
.header-nav__link:active::after {
    background-color: #aaa;
}
.location-cart {
    display: flex;
    align-items: center;
}
.location {
    padding-left: 35px;
    margin-right: 50px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    background: url(../img/header/location-sign.svg) 0 0 no-repeat;
    transition: all .3s linear;
}
.location:hover {
    background-position: 10px 0;
}
.location:active {
    color: #aaa;
    background: url(../img/header/location-sign-active.svg) 10px 0 no-repeat;
}
.cart {
    width: 25px;
    height: 25px;
    text-decoration: none;
    transition: all .4s linear;
}
.cart:hover {
    transform: scale(1.15);
}
.cart:active {
    transform: scale(1);
}



/* Media Queries */
@media (min-width: 1441px) {
    .header-top {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header-bottom {
        padding-left: 40px;
        padding-right: 40px;
        justify-content: space-between;
    }
    .header-logo {
        position: unset;
    }
    .header-nav {
        width: 30%;
        margin: 0;
        justify-content: space-between;
    }
    .header-nav__link,
    .header-nav__link:nth-child(2) {
        margin: 0;
    }
}



@media (min-width: 1680px) {
    .header-top {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header-top__link,
    .language {
        font-size: 13px;
    }
    .header-logo {
        width: 75px;
    }
    .header-logo img {
        width: 100%;
    }
    .header-nav {
        width: 35%;
    }
    .header-nav__link {
        font-size: 14px;
        line-height: 18px;
    }
    .location {
        font-size: 14px;
        line-height: 30px;
        background: url(../img/header/location-sign.svg) 0 0/30px 30px no-repeat;
    }
    .location:active {
        color: #aaa;
        background: url(../img/header/location-sign-active.svg) 5px 0/30px 30px no-repeat;
    }
    .cart:active {
        transform: scale(0.8);
    }
}



@media (max-width: 1430px) {
    .header-top {
        padding-right: 40px;
    }
    .header-bottom {
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
    }
    .header-logo {
        position: unset;
    }
    .header-nav {
        width: 30%;
        justify-content: space-between;
        margin: 0;
    }
    .header-nav__link,
    .header-nav__link:nth-child(2) {
        margin: 0;
    }
    .location {
        margin-right: 35px;
    }
    .location:active {
        color: #aaa;
        background: url(../img/header/location-sign-active.svg) 7px 0 no-repeat;
    }
}



@media (max-width: 1280px) {
    .location {
        margin-right: 25px;
        padding-left: 30px;
    }
}



@media (max-width: 1024px) {
    .header-top {
        padding-right: 30px;
    }
    .header-bottom {
        padding: 25px 30px;
    }
    .header-nav {
        width: 35%;
    }
}



@media (max-width: 850px) {
    .header {
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    .header-top__link,
    .language {
        font-size: 8px;
    }
    .language {
        padding-right: 10px;
        background: transparent url(../img/header/arrow.svg) 100% 47%/9px 5px no-repeat;
    }
    .header-bottom {
        padding: 20px 30px;
        background-color: #fff;
    }
    .header-logo {
        width: 35px;
    }
    .header-nav__link,
    .location {
        font-size: 10px;
    }
    .location {
        padding-left: 20px;
        line-height: 16px;
        background: url(../img/header/location-sign.svg) 0 0/12px 16px no-repeat;
    }
    .location:active {
        background: url(../img/header/location-sign-active.svg) 5px 0/12px 16px no-repeat;
    }
    .cart {
        width: 20px;
        height: 20px;
        background: url(../img/header/cart.svg) 0 0/20px 20px no-repeat;
    }
}



@media (max-width: 768px) {
    .header-logo {
        width: 30px;
    }
    .location {
        margin-right: 20px;
    }
}



@media (max-width: 640px) {
    .header-top {
        padding-right: 20px;
    }
    .header-top__link,
    .language {
        line-height: 22px;
    }
    .header-bottom {
        padding: 15px 20px;
    }
    .location {
        margin-right: 15px;
        font-size: 9px;
    }
    .location:hover {
        background-position: 5px 0;
    }
    .cart {
        width: 18px;
        height: 18px;
        background: url(../img/header/cart.svg) 0 0/18px 18px no-repeat;
    }
}



@media (max-width: 568px) {
    .header-top,
    .header-nav,
    .location-cart {
        display: none;
    }
    .header-logo {
        z-index: 50;
    }
}



@media (max-width: 414px) {
    .header-bottom,
    .header-logo {
        z-index: 50;
    }
}
